/* Global Styles */
html, body {
  height: 100%;
  margin: 0;
}

body {
  background: linear-gradient(-45deg, #d1625e, #d69c7a, #d67d7a, #cfa466);
	background-size: 400% 400%;
	animation: gradient 4s ease infinite;
	height: 100vh;
  
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
/* Main Content */
.section {
  margin-bottom: 20px;
}

.section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.section h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.section p {
  margin: 0;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skill {
  background-color: #f7f7f7;
  color: #333;
  padding: 8px 12px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

/* Footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer p {
  margin: 0;
}

/* Navigation Bar Styles */
#main-nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

#main-nav {
  list-style: none;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-button {
  font-size: 1.5em;
  display: inline-block;
  margin: 0 3em;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #555;
}

.main {
  text-align: center;
}

.main h1 {
  padding: 10% 0 0 0;
  text-align: center;
  font-size: 7em;
  color: white;
}

.main h6 {
  font-size: 2em;
  text-align: center;
  margin: 0 5% 5%;
  color: whitesmoke;
}

.header-icons {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-icons a {
  color: black;
  font-size: 5em;
  margin: 0 1em;
  text-decoration: none;
}

.header-icons a:hover {
  color: gray;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer a {
  color: #fff;
  text-decoration: none;
  font-size: 36px;
  margin-bottom: 10%;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #888;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.container h1 {
  text-align: center;
}

.first-name {
  display: block;
}

.last-name {
  display: block;
  
  margin-top: .1em; /* Adjust as needed for spacing between the names */
  padding-bottom: 10%;
}


img {
  width: 30em;
 
  height: auto;
  margin: 5%;
  margin-top: 10%;
}


/* Responsive Styles */
@media (max-width: 1100px) {
  #main-nav {
    flex-wrap: wrap;
    
  }

  
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
  }

  .main h1 {
    font-size: 5em;
    margin-bottom: 0em;
    
    margin-top: 0;
  }

  .main h6 {
    padding-top: 0;
    font-size: 1.5em;
    margin-bottom: 1em;
  }
    .last-name {
    margin-bottom: 0%;
  }
  .header-icons {
    margin-top: 3%;
    margin-bottom: 3em;
    margin-left: 0;
    margin-right: 0;
    
  }

  .header-icons a {
    font-size: 4em;
  }
  img {
    margin-top: 0;
    width: 30%;
    min-width: 250px;
  }

}
  

